# This is an overall requirements file for local development

# Data preparation
dbt-duckdb ~= 1.4.0
pandas ~= 1.5.3

# Data transfer API
fastapi[all] ~= 0.92.0
pydantic ~= 1.10.6
duckdb ~= 0.7.1

# Miscellenea / dev things
# pip ~= 23.0.1 # not necessary and breaks some things
black ~= 23.1.0
pre-commit ~= 3.7.0
# dbt-checkpoint ~= 2.0.0
