# This is an overall requirements file for local development

# Data preparation
dbt-duckdb ~= 1.7.0
pandas ~= 2.0

# Data transfer API
fastapi[all] ~= 0.92.0
pydantic ~= 1.10.6
duckdb ~= 1.3.0

# Miscellenea / dev things
# pip ~= 23.0.1 # not necessary and breaks some things
pre-commit ~= 3.7.0
ruff ~= 0.4.3
sqlfluff ~= 3.0.5
sqlfluff-templater-dbt ~= 3.0.5
