# Data preparation
# dbt-duckdb ~= 1.4.0
pandas ~= 1.5.3

# Data transfer API
fastapi[all] ~= 0.92.0
gunicorn ~= 20.1.0
pydantic ~= 1.10.6
duckdb ~= 0.10.2

# Miscellenea / dev things
# pip ~= 23.0.1 # not necessary and breaks some things
black ~= 23.1.0